@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --header-bg-color: #21222a;
  --main-bg-color: #282d35;
  --title-color: #61dafb;
  --text-color-dark: #f7f7f7;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-purple: #6111a5;
  --color-dark: #cdcbcf;
  --transition: all 400ms ease;
  --container-width-lg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --ff: "Poppins";
  --page-two-left-side-color: #4926c6;
  --page-two-right-side-color: #1c0361;
  --page-three-left-side-color: #0d1039;
  --page-three-right-side-color: #131549;
  --page-four-left-side-color: #16263b;
  --page-four-right-side-color: #0d131b;
  --page-five-left-side-color: #1059ce;
  --page-five-right-side-color: #22c1da;
  --page-six-right-side-color: #012379;
  --page-seven-left-side-color: #01b769;
  --page-seven-right-side-color: #007946;
  --brand-color:  rgb(38, 32, 30);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  background-color: var(--brand-color);
  color: var(--color-white);
}

.grid {
  display: grid;
  grid-template-columns: 55% 30%;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
}

.active {
  color: var(--color-primary) !important;
  text-decoration-line: underline !important;
}
.navbar {
  top: 0;
  padding-right: 10%;
  padding-left: 10%;
  z-index: 1;
}

nav a {
   color: white !important; 
   font-size: larger !important;
}

nav a:hover {
  color: var(--color-primary) !important;
  text-decoration-line: underline !important;
}

@media screen and (max-width: 1224px) {
  .navbar {
    top: 0;
    padding: 10px;
    background: none;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .logo {
    width: 90px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 60px;
  }
}